.input__text{
    font-size: 16px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: 'josefin sans', sans-serif ;
    background-color: var(--card-color);
    color: var(--text-primary);
    width: 100%;
}

