.logo__theme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.4rem 0;
}

.logo__theme .label__logo{
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

@media only screen and (min-width: 1440px){
    .logo__theme .label__logo{
        font-size: 2rem;    
    } 
}